@import "@scss/const.scss";

.sort-goods__criterion {
  position: relative;
  color: $gray;
  transition: $trans;
  cursor: pointer;
  user-select: none;
}

.triangle {
  position: absolute;
  right: 15px;
  top: 20%;
  transition: $trans;
  
  span,
  span::before {
    content: "▼";
    position: absolute;
    transform: scale(0.7);
  }
}

.triangle.tirangle-up {
  span::before {
    display: none;
  }
  span::after {
    content: "▲";
    display: block;
    position: absolute;
    transform: scale(0.7);
  }
}

.sort-goods__criterion.active {
  color: $black;
}
