@import "@scss/const.scss";

.price-old-price {
  max-width: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: $h5;
  
  .price {
    margin-right: 10px;
    color: $negative
  }

  .oldPrice {
    color: $gray;
    text-decoration: line-through;
  }
}