@import "@scss/const.scss";

.button {
  color: $white;
  background-color: $c-sec;
  border: none;
  border-radius: $br;
  cursor: pointer;
  transition: $trans;
}

.button:hover {
  background-color: $c-pr;
}
