{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": "warn",
    "indent": 4
  },
  "env": {
    "es6": "true",
    "browser": "true"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
