@import "@scss/const.scss";

.promotion__info {
  padding: 30px;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: #fff;
  box-sizing: border-box;
  white-space: pre-wrap;
  
  .promotion__header {
    line-height: $lh;
  }

  .promotion__text {
    margin: 10px 0;
    line-height: $lh-t;
  }

  .promotion__button {
    align-self: start;
    .button {
      padding: 8px 20px;
    }
  }
}