@import "@scss/const.scss";

.button_order {
  padding: 5px 6px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  font-size: $text;
  border-radius: 25px;
  background-color: $black;
  text-align: center;
}
