@import "@scss/const.scss";

.good-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  > .good__image {
    margin: 0 20px 10px 0;
    border-radius: $br;
  }
}

.good-info__main {
  max-width: 500px;
  display: flex;
  flex-flow: column wrap;

  > .note {
    margin: 20px 0 5px 0;
    font-size: $h4;
    font-weight: $medium;
  }

  > .name {
    font-size: $h2;
    font-weight: $medium;
    line-height: 2rem;
    margin-bottom: 10px;
  }

  > .buy {
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    > .price-old-price {
      margin: 0 20px 0 0;
    }
  }

  > .pre {
    width: inherit;
    word-wrap: pre;
  }
}


@media screen and (max-width: 400px) {
  .good-info__main {
    > .buy {
      flex-flow: column wrap;
      > .price-old-price {
        margin: 0 0 5px 0;
      }
    }
  }
}
