@import "@scss/const.scss";

.not-found__info {
  width: 30%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;

  .h1 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .not-found__info {
    .h1 {
      max-width: 300px;
    }

    .h5 {
      max-width: 300px;
    }
  }
}