.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .wrapper {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1100px) {
  .not-found {
    .wrapper {
      margin-top: 40px;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
    }
    .not-found__info {
      margin: 10px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .t404 {
    display: none;
  }
}