@import "@scss/const.scss";

.breadcrumb__routes {
  display: inline-flex;
  flex-flow: row wrap;

  > span:last-child a{
    cursor: default;
    color: $black;
  }

  a,
  span {
    color: $black;
  }

  a:hover {
    color: $c-pr;
  }
}