@import '@scss/const.scss';

.app {
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  font-family: $font;
  font-weight: $medium;
  background-color: $white;
  overflow-x: hidden;
  color: #000;
  .breadcrumb {
    margin: 10px 0;
  }
  .footer {
    margin-top: 20px;
  }
}

.Toastify__toast {
  border-radius: $br;
}