@import '@scss/const.scss';

.app {
  min-height: 100vh;
  height: 100vh;
  font-family: $font;
  font-weight: $medium;
  background-color: $white;
  color: #000;

  .breadcrumb {
    margin: 10px 0;
  }
  
  .footer {
    margin-top: 20px;
  }
}

a {
  color: $black;
}

a:hover {
  color: $c-pr;
}

.Toastify__toast {
  border-radius: $br;
}