.list__better {
  display: flex;
  flex-flow: row nowrap;

  .seller__name {
    padding: 0 10px;
  }
}

@media screen and (max-width: 450px) {
  .list__better {
    flex-flow: column nowrap;

    .seller__name {
      padding: 10px 10px 0 0;
    }
  }
}