@import "@scss/const.scss";

.slider {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  
  .good-item {
    height: 345px;
    box-shadow: none;
  }
  .good-item:hover {
    box-shadow: none;
    transform: none;
  }
}

.slider__header {
  > .note {
    font-size: $h4;
    font-weight: $medium;
  }
}
