@import "@scss/const.scss";

.promotion {
  max-width: 1200px;
  height: 500px;
  border-radius: $br;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .promotion__info {
    margin-left: 20px;
  }
}