@import "@scss/const.scss";

.header {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 10;

  .wrapper {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    > img {
      max-height: 24px;
      min-width: 85px;
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: relative;
    padding: 10px;
    .wrapper {
      flex-flow: column wrap;

      .header__nav {
        justify-content: center;
      }
    }
  }
}