@import '@scss/const.scss';

.list__seller {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  .seller__name {
    padding-right: 10px;
    box-sizing: border-box;
    word-wrap: pre;
  }

  .seller__buy {
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .seller__prices {
      width: 165px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      .seller__price {
        color: $negative;
      }
      
      .seller__oldPrice {
        color: $d-gray;
        text-decoration: line-through;
      }
    }
  }
}