@import '@scss/const.scss';

.list__seller {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  .seller__name {
    padding-right: 10px;
    line-height: $lh-t;
    box-sizing: border-box;
  }

  .seller__buy {
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
    .link {
      text-align: center;
    }
  }
}