$h1: 32px;
$h2: 28px;
$h3: 24px;
$h4: 18px;
$h5: 16px;
$text: 14px;
$font: 'Inter', 'Arial', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$c-pr: #595CFF;
$c-sec: #8C8EFF;
$c-pr-d: #383BE4;
$black: #000;
$d-gray: #82828B;
$gray: #AFB1BD;
$l-gray: #E6E6EB;
$p-gray: #F0F0F5;
$snow: #F9F9FB;
$white: #FFF;
$positive: #00CB6F;
$negative: #EE7764;
$warning: #FFBC2C;
$br: 5px;
$trans: 0.2s ease-in;
$bsh: 0 0.125rem 0.5rem rgba(0,0,0,0.15);
$bsh-h: 0 0.5rem 2rem rgba(0,0,0,0.175);
$lh: 2rem;
$lh-t: 20px;