@import '@scss/const.scss';

.h1 {
  font-size: $h1;
  font-weight: $bold;
}

.h2 {
  font-size: $h2;
  font-weight: $bold;
}

.h3 {
  font-size: $h3;
  font-weight: $bold;
}

.text {
  font-size: $text;
  font-weight: $regular;
}

.pre {
  white-space: pre;
  font-size: $text;
  font-family: $font;
}

.link,
.link:active,
.link:visited {
  text-decoration: none;
  color: $black;
}