@import '@scss/const.scss';

.h1 {
  font-size: $h1;
  font-weight: $bold;
}

.h2 {
  font-size: $h2;
  font-weight: $bold;
}

.h3 {
  font-size: $h3;
  font-weight: $bold;
}

.text {
  font-size: $text;
  font-weight: $regular;
}

.pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 20px;
  font-size: $text;
  font-family: $font;
}

.t404 {
  font-size: 15vh;
  font-weight: $bold;
}


@media screen and (max-width: 1220px){
  .media1220 {
    padding: 0 20px;
    box-sizing: border-box;
  }
}
